.itaipuacu-bg {
  max-width: 1260px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itaipuacu-bg h1 {
  font-family: "Josefin Slab", serif;
  font-size: 4rem;
}
.itaipuacu {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.itaipuacu h2 {
  font-size: 2.25rem;
  font-weight: 400;
}
.itaipuacu .conteudo ul {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}
.conteudo {
  max-width: 500px;
}
.itaipuacu .conteudo ul span {
  font-weight: bold;
}

@media (max-width: 1200px) {
  .itaipuacu-bg {
    max-width: 900px;
  }
}
@media (max-width: 950px) {
  .itaipuacu-bg {
    max-width: 700px;
  }
  .itaipuacu {
    gap: 40px;
  }
}

@media (max-width: 750px) {
  .paisagem {
    display: none;
  }

  .itaipuacu {
    grid-template-columns: 1fr;
  }

  .conteudo {
    max-width: 400px;
  }
}

@media (max-width: 430px) {
  .conteudo {
    max-width: 300px;
  }
  .iconeItaipuacu{
    display: none;
  }
  .conteudo ul li{
    position: relative;
  }

  .infoItaipuacu::before{
    content: " ";
    width: 10px;
    height: 4px;
    background-color: #EE7711;
    position: absolute;
    top: -10px;
  }
}
