.sonhos-bg {
  background: linear-gradient(
    270.08deg,
    #eeeee1 0.08%,
    #eeeee1 50.01%,
    #eeeee1 69.5%,
    #ffffff 69.5%
  );

  margin: 0 auto;
  margin-top: 50px;
}
.sonho {
  margin: 0 auto;
  max-width: 1260px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sonho h1 {
  padding: 50px;
  font-family: "Josefin Slab", serif;
  font-size: 4rem;
}

.imagem-imovel {
  border-radius: 5px 5px 0px 0px;
}
.imoveis {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.imovel {
  padding: 50px 35px;
  background-color: #ddddc3;
}

.sobre-imovel {
  background-color: white;
  display: flex;
  gap: 7px;
  color: #6a6d5d;
  font-size: 0.785rem;
  padding: 10px;
  text-align: center;
  max-width: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 5px 5px;
}

.separador {
  color: #e8e8d5;
}

.anuncio-imovel {
  padding: 50px 0px 20px 0px;
  font-family: "Josefin Slab", serif;
  font-size: 2rem;
}

.botao {
  padding: 20px 40px;
  background: linear-gradient(180deg, #ff8833 0%, #e8701b 100%);
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  transition: 0.3s;
  box-sizing: border-box;
}

.botao:hover {
  padding: 22px 45px;
  border-radius: 5px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ee7711 0%,
    #ff8833 0.01%,
    #ee7711 100%
  );
  color: white;
  margin-bottom: 16px;
  transition: 1s;
}
